---
layout: default
---
<h1>{{ page.number }}: {{ page.name }}</h1>
<h2>Discussion Sections:</h2>

<ul class="posts">
    {% for section in page.sections %}
    <li> - {{ section.id }}, {{ section.day }}, {{ section.hour }}, {{ section.room }} </li>
    {% endfor %}
</ul>

<h2>Class Documents:</h2>

<p class="posts">
<ul class="posts">
    <li><a href="UCSB/3A/F19/Week_0.pdf">Week 0</a></li>
    <li><a href="UCSB/3A/F19/Week_1.pdf">Week 1</a></li>
    <li><a href="UCSB/3A/F19/Week_1_Answers.pdf">Week 1 Answer Guide</a></li>
    <li><a href="UCSB/3A/F19/Week_2.pdf">Week 2</a></li>
    <li><a href="UCSB/3A/F19/Week_2_Answers.pdf">Week 2 Answer Guide</a></li>
    <li><a href="UCSB/3A/F19/Week_3.pdf">Week 3</a></li>
    <li><a href="UCSB/3A/F19/Week_3_Answers.pdf">Week 3 Answer Guide</a></li>
    <li><a href="UCSB/3A/F19/Exam_1_Practice.pdf">Exam 1 Practice Worksheet</a></li>
    <li><a href="UCSB/3A/F19/Exam_1_Practice_Answers.pdf">Exam 1 Practice Worksheet Answer Guide</a></li>
</ul>
</p>

