<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
                    <li>Kyle Hansen</li> 
                    <li>Office Location: SH 6431 V</li>
                    <li>Office Hours: Th. 8am-9am</li>
                    <li>MathLab Hours: M. 11-12</li>
                </ul>
                <ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/classes">Classes</a></li>
	    		</ul>
            </nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kylehansen@ucsb.edu">email</a></li>
	        		<li><a href="https://www.youtube.com/channel/UCW6y_b13CtulrKecxVB3pKw">youtube</a></li>
				</ul>
			</footer>
		</body>
	</html>
